// USE THIS FILE TO CREATE THE LAYOUT AND SPECIFIC RULES FOR SCREENSHOTS 1 and 2

@font-face {
  font-family: "OpenSans-Regular";
  src: url(assets/fonts/OpenSans.Regular.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url(assets/fonts/OpenSans-ExtraBold.ttf) format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-image: url(../images/web_poster2-02.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  padding: 5% 2%;

  &__text {
    width: 50%;

    h1 {
      font-family: OpenSans-ExtraBold, sans-serif;
      color: #005ba7;
      font-size: 380%;
      font-weight: 800;
      line-height: 1.2em;
      padding-bottom: 0.5em;
      letter-spacing: 0 px;

      span {
        color: #0fa15c;
      }
    }

    h2 {
      font-family: "marydale", sans-serif;
      font-weight: 100%;
      font-style: normal;
      font-size: 200%;
      line-height: 1.2em;
      max-width: 80%;
    }
  }
}

p {
  font-family: "OpenSans-Regular";
  src: url(assets/fonts/OpenSans.Regular.ttf) format("truetype");
}

.section1 {
  display: flex;
  justify-content: space-between;

  &__text {
    &--moon {
      color: pink;
      margin-left: 5%;
    }
  }

  &__svgs {
    position: relative;
  }

  &__moon {
    width: 18em;
    padding-right: 20%;
    padding-top: 40%;
//    position: absolute;
//    top: 85%;
//    right: 20px;

    //svg styles
    .cls-1 {
      fill: #eaeae9;
      stroke-width: 4.21px;
    }

    .cls-1,
    .cls-2,
    .cls-3 {
      stroke: #231f20;
      stroke-miterlimit: 10;
    }

    .cls-4 {
      fill: #231f20;
    }

    .cls-4,
    .cls-5 {
      stroke-width: 0px;
    }

    .cls-2 {
      fill: #fff;
    }

    .cls-2,
    .cls-3 {
      stroke-width: 4.6px;
    }

    .cls-3 {
      fill: #b4b6b7;
    }

    .cls-5 {
      fill: #fff;
    }
  }

  //big star
  &__bigstar {
    width: 60px;
    position: absolute;
    right: 25%;
    top: 10%;
    .colour {
      fill: #f5ec43;
      stroke: #231f20;
      stroke-miterlimit: 10;
      stroke-width: 4.6px;
    }
  }

  &__smallstar {
    width: 50px;
    position: absolute;
    right: 10px;
    top: 35%;
    .colour-small {
      fill: #f5ec43;
      stroke: #231f20;
      stroke-miterlimit: 10;
      stroke-width: 4.6px;
    } //I would put the colouring under one class, but it wouldn't work
  }
}

.section2 {
  display: flex;
  &__text {
    &--strong {
      font-size: 60px;
    }
  }  
  &__svg {
  position: relative;
  }
  &__curvedtext {    
    width: 550px;
//    position: absolute;
    font-family: "marydale", sans-serif;
    #curve {    
      fill: none;
      stroke: none;
    }
  }
  &__car {    
    width: 150px;
    position: absolute;
    left: 80%;
    top: 15px;
    .outline {
      stroke: #231f20;
      stroke-miterlimit: 10;
      stroke-width: 4.21px;
    }

    .outline,
    .class2 {
      fill: #231f20;
    }

    .class2,
    .carcolour {
      stroke-width: 0px;
    }

    .carcolour {
      fill: #c77161;
    }
  }
}

p {
  max-width: 40%;
  font-size: 25px;
  font-family: "marydale", sans-serif;
}

.section3 {
  position: relative;

  &__co2 {
    display: flex;
    justify-content: space-evenly;
    z-index: 3;
    transform: translate(0,100%);

    &__svg {
      width: 5%;

      .cls-1 {
        fill: #231f20;
      }

      .cls-1,
      .cls-2 {
        stroke-width: 0px;
      }

      .cls-2 {
        fill: #a1cf6d;
      }

      .cls-3 {
        fill: #0a0203;
      }

      .cls-3,
      .cls-4 {
        stroke: #231f20;
        stroke-miterlimit: 10;
      }

      .cls-4 {
        fill: #fff;
        stroke-width: 4.6px;
      }
    }

    &__eyebrows {
      width: 10%;

      .cls-1 {
        fill: #231f20;
      }

      .cls-1,
      .cls-2 {
        stroke-width: 0px;
      }

      .cls-2 {
        fill: #a1cf6d;
      }

      .cls-3 {
        fill: #0a0203;
      }

      .cls-3,
      .cls-4 {
        stroke: #231f20;
        stroke-miterlimit: 10;
      }

      .cls-4 {
        fill: #fff;
        stroke-width: 4.6px;
      }
    }
  }

  &__kids {
    display: flex;
    justify-content: space-evenly;
    transform: translate(0, 25%);
    z-index: 2;

    &__kid1 {
      width: 25%;
      transform: translate(0, 20%);

      .cls-1,
      .cls-2 {
        stroke-width: 0px;
      }

      .cls-1,
      .cls-3 {
        fill: #231f20;
      }

      .cls-4 {
        fill: #f5ec43;
      }

      .cls-4,
      .cls-5,
      .cls-6,
      .cls-7,
      .cls-8,
      .cls-3 {
        stroke-miterlimit: 10;
      }

      .cls-4,
      .cls-5,
      .cls-6,
      .cls-8,
      .cls-3 {
        stroke: #231f20;
      }

      .cls-4,
      .cls-5,
      .cls-7,
      .cls-8,
      .cls-3 {
        stroke-width: 4.6px;
      }

      .cls-5 {
        fill: #b6a69e;
      }

      .cls-6 {
        fill: #a1cf6d;
        stroke-width: 4.6px;
      }

      .cls-7 {
        fill: none;
        stroke: #fff;
      }

      .cls-2 {
        fill: #fff;
      }

      .cls-8 {
        fill: #ad9282;
      }
    }

    &__kid2 {
      width: 20%;

      .cls-1,
      .cls-2,
      .cls-3,
      .cls-4 {
        stroke-width: 0px;
      }

      .cls-1,
      .cls-5 {
        fill: #231f20;
      }

      .cls-6 {
        fill: #fce0ce;
      }

      .cls-6,
      .cls-7,
      .cls-5 {
        stroke-miterlimit: 10;
        stroke-width: 4.6px;
      }

      .cls-6,
      .cls-5 {
        stroke: #231f20;
      }

      .cls-2 {
        fill: #00b1dc;
      }

      .cls-3 {
        fill: #c77161;
      }

      .cls-7 {
        fill: none;
        stroke: #fff;
      }

      .cls-4 {
        fill: #fff;
      }
    }

    &__kid3 {
      width: 25%;

      .cls-1,
      .cls-2,
      .cls-3 {
        stroke-width: 0px;
      }

      .cls-1,
      .cls-4 {
        fill: #231f20;
      }

      .cls-2 {
        fill: #0a0203;
      }

      .cls-5 {
        fill: #f5ec43;
      }

      .cls-5,
      .cls-6,
      .cls-7,
      .cls-8,
      .cls-4 {
        stroke-miterlimit: 10;
      }

      .cls-5,
      .cls-6,
      .cls-8,
      .cls-4 {
        stroke: #231f20;
      }

      .cls-5,
      .cls-7,
      .cls-8,
      .cls-4 {
        stroke-width: 4.6px;
      }

      .cls-6 {
        fill: #a1cf6d;
        stroke-width: 4.6px;
      }

      .cls-7 {
        fill: none;
        stroke: #fff;
      }

      .cls-8 {
        fill: #816c5d;
      }

      .cls-3 {
        fill: #fff;
      }
    }
  }

  &__earth {
    // position: absolute;
    z-index: 1;

    &__svg {
      .cls-1 {
        fill: #00b1dc;
      }

      .cls-1,
      .cls-2,
      .cls-3,
      .cls-4,
      .cls-5 {
        stroke: #231f20;
        stroke-miterlimit: 10;
      }

      .cls-1,
      .cls-3 {
        stroke-width: 4.6px;
      }

      .cls-2,
      .cls-6 {
        fill: none;
      }

      .cls-6 {
        stroke-width: 0px;
      }

      .cls-3 {
        fill: #a1cf6d;
      }

      .cls-4 {
        fill: #fff;
      }

      .cls-5 {
        fill: #0a0203;
      }
    }
  }
}

.footer {
  height: 200px;
  color: white;
  background-color: #005ba7;

  &__top {
    background-color: white;
    color: black;
    height: 40%;
    padding: 2%;
  }

  &__bottom {
    padding: 2%;
  }
}